BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Allman
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true

PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Cpp11BracedListStyle: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align

SortIncludes: true
IncludeBlocks: Regroup

IndentCaseLabels: false
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakBeforeFirstCallParameter: 1
